extends layout

block append content
    div.container-fluid
        div#output
        div.row
            div.col-xs-12.col-sm-12.col-md-5.col-lg-5
                .panel.panel-default
                    .panel-heading
                        div.clearfix
                            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                h4 Project Listings
                            .col-xs-6.col-sm-6.col-md-6.col-lg-6.text-right
                                button#add_project_button(type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="").btn.btn-primary Add Project
                    .panel-body
                        include forms/addProject

                    div#project_table
                        include tables/projectList

            div.col-xs-12.col-sm-12.col-md-7.col-lg-7
                .panel.panel-default
                    .panel-heading
                        .clearfix
                            .col-xs-12.col-sm-4.col-md-6.col-lg-4
                                h4 Project Snaps
                            .col-xs-12.col-sm-5.col-md-6.col-lg-5
                                .btn-group.btn-group-justified
                                    .btn-group
                                        button#all_snaps(onclick="snapshot.showAllSnaps()" type="button").btn.btn-default All
                                    .btn-group
                                        button#manual_snaps(onclick="snapshot.showManualSnaps()" type="button").btn.btn-default Manual
                                    .btn-group
                                        a.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Projects 
                                            span.caret
                                        ul.dropdown-menu(role="menu")
                                            each project in snapProjects
                                                li: a.project-filter(href="/filter/#{project.tprojects_name}") #{project.tprojects_name}

                            .col-xs-12.col-sm-3.col-md-6.col-md-offset-6.col-lg-offset-0.col-lg-3
                                button#add_snap_button(type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="").btn.btn-primary.btn-block Add Snapshot
                        
                    .panel-body
                        div#add_snap_popover.hidden
                            include forms/addSnap                        
                        


                    div#snaps_table
                        include tables/snapsList  
    include modals/modals
    script(src='/javascripts/index.js')
  //h1= rows.tsnapdef_type
  //each item in rows
    li= item.tsnapdef_type
