doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.0/css/jquery.dataTables.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//cdn.datatables.net/1.10.0/js/jquery.dataTables.js')
  body
    //- nav(role="navigation").navbar.navbar-default.navbar-fixed-top.pull-right
    //-     a(href="/").navbar-brand Title
    //-     ul.nav.navbar-nav
    //-         li.active
    //-             a(href="#") Home
    //-         li
    //-             a(href="#") Link
    h2.text-center SnapsApp
    hr
    block content