body {
  padding-top: 70px;
}
tr.group,
tr.group:hover {
  background-color: #ddd !important;
}
.vbottom {
  display: inline-block;
  vertical-align: bottom;
  float: none;
}
.btn-toolbar-float {
  float: right;
}
